body { margin: 0; background-color: #1C1C1C; color: #DCDCDC; font-family: sans-serif; }

h1 { margin: 21px 0 0 0; }
h4 { margin: 6px 0 0 0; color: #F3BF99; }
.card > p { margin: 8px 0 15px 0; }

#root { width: 550px; height: 100%; background-color: #23252C; margin: auto; display: flex;}
.card { margin: 0 115px; display: flex; flex-direction: column; align-items: center; background-color: #1A1B21; }

.button { width: 100%; display: flex; justify-content: space-around; }
button { height: 35px; }

#mail-btn { width: 16px; height: 16px; background-image: url(../images/email.png); }
