@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local('Inter'), url(../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: local('Inter'), url(../fonts/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'), url(../fonts/Inter/static/Inter-Regular.ttf);
}

* { font-family: Inter; box-sizing: border-box; }
body { margin: 0; height: 100vh; background-color: #282D35 }

nav { background-color: #21222A;  display: flex; align-items: center; padding: 0 26px; }
nav > img { color: #00D8FF; margin-right: 7px; }
nav > h3 { color: #61DAFB; margin-right: auto; font-weight: 700; font-size: 22px; }
nav > h4 { color: #DEEBF8; font-weight: 600; }

main { height: 100%; padding: 57px 0 0 27px; color: #FFFFFF; background-image: url('../images/reactjs-icon2.svg'); background-repeat: no-repeat; background-position: right 75%;}
main > h1 { font-size: 40px; font-weight: 700; letter-spacing: -0.05em; }
li { font-size: 16px; margin-bottom: 20px; }
li::marker { color: #61DAFB; font-size: 25px; }